<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    {% include "globalStyles.html" %}
     <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41596225-1', 'suite-house.appspot.com');
      ga('send', 'pageview');
      </script> -->
  </head>
  <body>
      <header>
        <h1><span>VSP&amp;E</span>Suite House</h1>
        <h2>Your personal house management system</h2>
        <span class="loggedIn">You are logged in as {{username}}</span>
      </header>
      <div id="sidebar">
        <h3>Suite Applications:</h3>
        <ul id="nav">
          <li><a id="aboutClick">   About SH  </a></li>
          <li><a id="membersClick"> Members   </a></li>
          <li><a id="recipesClick"> Recipes   </a></li>
          <li><a id="financesClick">Finances  </a></li>
          <li><a id="tasksClick">   Tasks     </a></li>
        </ul>
        <footer>
          <h1>Developed by <ul><li>P. Vendeville</li><li>S. Perkins</li><li>E. Eldridge</li></ul></h1>
          <h1>Design by <ul><li>Shelby Smullen</li></ul></h1>
        </footer>
      </div>
        <div id="content"><span class="loggedIn">You are logged in as {{username}}</span>
        <div id="aboutPane">
          <p>
            <h2>Welcome to Suite House. </h2>
          </p>
          <p>
            Suite House is a collection of programs to help you manage your home. Whether it be finances, chores to be done around the house, new roommates moving in, or even choosing what recipe you should have for dinner -Suite House has you covered.
          </p>
          
        </div>
        <div id="membersPane">
          Coming soon...
        </div>
        <div id="financesPane">
          <p>
            <h2>Manage your Finances</h2>
          </p>         

          <ul>
            <li><h3><a href="/finance" >Finance Applications<a/></h3>
              Use our great financial applications to better your budget and yourself
            </li>
            <ul>
            <li><h3><a href="/finance/checkbook" >Check Book</a></h3>
              Your checkbook let's you keep track of any income you have as well as variable expenses like dinner outings, food purchases, and your day to day expenses
            </li>
            <li><h3><a href="/finance/wishList" >Wish List  </a></h3>
              Do you really want that new dress or new suit? Well throw it on your wish list and the <a href="/finance/budget">Budget</a> program will tell you if you can afford to buy it!
            </li>
            <li><h3><a href="/finance/billTracker">Bill Tracker</a></h3>
              Fixed expenses are a fact of life, keep track of your rent, electricy and other fixed expenses here.
            </li>
            <li><h3><a href="/finance/budget">Budget Assistance</a></h3>
              Not sure if you can afford your style of living? Want to see if you can really afford buying that new car? With the budget assistance software you can find out if you can! Simply enter all the information into your checkbook, wish list, and bill tracker, and see what you can afford!
            </li>
            </ul>

          </ul>
          
        </div>
        <div id="tasksPane">Coming soon</div>
        <div id="recipePane">
          <p>
            <h2>Eat well!</h2>
          </p>

          <p>
            With Suite House's recipe module, you can share your favorite recipe's with the members of your house. You can add your own, see top recipes and more with just a few clicks. Not a very good cook? No problem! These recipes are written by other members just like you! So the instructions will always be in plain english, and everyone is sure to find a recipe they can make and enjoy!
          </p>

          <p>
            <a href="/recipe">Eat and cook with the Recipe application</a>
          </p>
        </div>
      </div>
      
      <script type="text/javascript">
        //Inline JS because it's not really neccesary to abstract this to another file and the page load will be quite fast this way
        function hidePanes(){
          var hideThese = document.getElementById('content').children;
          for (var i = hideThese.length - 1; i >= 0; i--) {
            hideThese[i].style.display = 'none';
          }; 
        }
        //initially hide the panes besides about:
        hidePanes();
        document.getElementById('aboutPane').style.display = 'block';

        document.getElementById('aboutClick').onclick = function(){ hidePanes();
          document.getElementById('aboutPane').style.display = 'block';
        }
        document.getElementById('membersClick').onclick = function(){ hidePanes();
          document.getElementById('membersPane').style.display = 'block';
        }
        document.getElementById('financesClick').onclick = function(){ hidePanes(); 
          document.getElementById('financesPane').style.display ='block';
        }
        document.getElementById('tasksClick').onclick = function(){ hidePanes();
          document.getElementById('tasksPane').style.display = 'block'
        }
        document.getElementById('recipesClick').onclick = function(){ hidePanes();
          document.getElementById('recipePane').style.display = 'block';
        }
      </script>
  </body>
</html>
{% endautoescape %}