<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    {% include "globalStyles.html" %}
     <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41596225-1', 'suite-house.appspot.com');
      ga('send', 'pageview');   
      </script> -->
  </head>
  <body>
      <header>
        <h1><span>VSP&amp;E</span>Suite House</h1>
        <h2>Your personal house management system</h2>
        <span class="loggedIn">You are logged in as {{username}} <br/><a href="/recipe" style="display:inline;">Return to recipe menu</a></span>
      </header>    

      <!--Give a nice editor to create recipes -->
      <section class="recipeEditor">
        <!-- Display the first 10 items in the list -->
        <h3>Your Recipes</h3>
        <select>
          <option ref="special">Select a Recipe</option>
        {% for recipe in recipes%}
              <option ref="{{recipe.key()}}">{{recipe.title}}</option>
        {% endfor %}
        </select>
        <form action="/recipe/myrecipes" method="POST">
          <div id="recipeTitle">
            <h3>Recipe Title</h3>
            <input type="text" name="title"/>
          </div>
          <div id="recipeIngredients">
            <h3>Ingredients</h3>
            <ul id="ingredientsList">
              <li><input type="text" name="ingredients[]"/></li>
              <li><input type="text" name="ingredients[]"/></li>
              <li><input type="text" name="ingredients[]"/></li>
            </ul>
            <a id="moreIngredients">Add Ingredient</a>
          </div>
          <script type="text/javascript">
            //This piece of script handles adding more input's to the ingredients list
            document.getElementById('moreIngredients').onclick = function(){
              var li = document.createElement('li');
              var input = document.createElement('input');
              input.type = 'text';
              input.name = 'ingredients[]';
              li.appendChild(input);
              document.getElementById('ingredientsList').appendChild(li);
            };
          </script>
          <div id="recipeInstructions">
            <h3>Instructions</h3>
            <ul id="instructionsList">
              <li><textarea name="instructions[]"></textarea></li>
              <li><textarea name="instructions[]"></textarea></li>
            </ul>
            <a id="moreInstructions" >Add Paragraph</a>
          </div>
          <script type="text/javascript">
            //This piece of script handles adding more textarea's to the instructions list
            document.getElementById('moreInstructions').onclick = function(){
              var li = document.createElement('li');
              var input = document.createElement('textarea');
              input.name = 'instructions[]';
              li.appendChild(input);
              document.getElementById('instructionsList').appendChild(li);
            };
          </script>
          
          <input type="submit" value="Submit Recipe"/>
          <input type="reset" name="delete" value="Delete Recipe" />
          
          
        </form>
      </section>

      
  </body>
</html>
{% endautoescape %}