.boxes li{
	list-style-type: none;
	display: inline-block;
	width: 40%;
	vertical-align: top;
	opacity: .8;
	transition: opacity,background-color .5s ease-in-out;
	-moz-transition: opacity,background-color .5s ease-in-out;
    -webkit-transition: opacity,background-color .5s ease-in-out;
    border-radius: .25em;
    padding: .25em;
    min-height: 150px;
    text-align: left;
}
.boxes li a{
	display: block;
	width: 100%;
	opacity: .7;
	opacity: .8;
	transition: opacity,background-color .5s ease-in-out;
	-moz-transition: opacity,background-color .5s ease-in-out;
    -webkit-transition: opacity,background-color .5s ease-in-out;
}
.boxes li a:hover{
	background-color: #aaaaff;
}
.boxes li:hover{
	background-color: #aaaaaa;
	opacity: 1;
}
.boxes li h3 {
	text-align: center;	
}
ul.boxes{
	margin: auto;
	margin-top: 1em;
	vertical-align: top;

}
.centerMe{
	text-align: center;
	margin: auto;
}
#infoTable{
	width: auto;
}
#infoTable thead tr, #infoTable tbody tr{
	text-align: center;	
}
/*Checkbook.html */
section{
	margin: auto;
	width: 100%;
	text-align: center;
}
table{
	margin: auto;
	margin-top: 2em;
	width: 100%;
}
table tr{
	text-align: left;
	opacity: .85;
}
table tr:hover{
	/*This will make the table sort of jump out and will provide a more responsive user interface*/
	opacity: 1;
}
table tr.alt{
	text-align: left;
	background-color: #abcdef;
}
table tr td a{
	text-align: center;
	cursor: pointer;
	opacity: .8;
	width: 100%;
	display: block;
	border-radius: .25em;
	transition: opacity,background-color .5s ease-in-out;
	-moz-transition: opacity,background-color .5s ease-in-out;
    -webkit-transition: opacity,background-color .5s ease-in-out;
}
table tr td a:hover{
	background-color: #aaaaaa;
	opacity: 1;
}
table tr.alt td a:hover{
	background-color: #ffffaf;
	opacity: 1;
}
#header{
	text-align: right;
}
#incomeForm, #expenseForm{
	opacity:0;
	transition: opacity .5s ease-in-out;
	-moz-transition:  opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}
#incomeForm.fade, #expenseForm.fade{
  	opacity:1;
}
.unfade{
	visibility: none;
}
.expense{
	color: #FF0000;
}
.income{
	color: #00FF00;
}
#incomeDropForm,#expenseDropForm{
	background-color: #aaaaaa;
	text-align: center;
	cursor: pointer;
	opacity: .8;
	padding: .25em;
	padding-left: .5em;
	padding-right: .5em;
	border-radius: .25em;
	transition: opacity,background-color .5s ease-in-out;
	-moz-transition: opacity,background-color .5s ease-in-out;
    -webkit-transition: opacity,background-color .5s ease-in-out;
    z-index: 0;
}
#incomeDropForm{background-color: #aaffaa;}
#incomeDropForm:hover{
	background-color: #00ff00;
	opacity: 1;	
}
#expenseDropForm{background-color: #ffaaaa;}
#expenseDropForm:hover{
	background-color: #ff0000;
	opacity: 1;
}
p.dropButtons{
	margin-right: 2em;
	display: inline;
	font-size: 125%;
	font-weight: bold;
}
/*Don't give the right hand side p any margin otherwise the whole thing won't be centered*/
p.dropButtons + p.dropButtons{
	margin-right: 0;
}
.slide{
	margin: auto;
	position: absolute;
	left: 30%;
}
.slide > #incomeForm{
	background-color: #00ff00;
}
.slide > #expenseForm{
	background-color: #ff0000 ;
}