.boxes li{
	list-style-type: none;
	display: inline-block;
	width: 40%;
	vertical-align: top;
	opacity: .8;
	transition: opacity,background-color .5s ease-in-out;
	-moz-transition: opacity,background-color .5s ease-in-out;
    -webkit-transition: opacity,background-color .5s ease-in-out;
    border-radius: .25em;
    padding: .25em;
    min-height: 150px;
    text-align: left;
}
.boxes li a{
	display: block;
	width: 100%;
	opacity: .7;
	opacity: .8;
	transition: opacity,background-color .5s ease-in-out;
	-moz-transition: opacity,background-color .5s ease-in-out;
    -webkit-transition: opacity,background-color .5s ease-in-out;
}
.boxes li a:hover{
	background-color: #aaaaff;
}
.boxes li:hover{
	background-color: #aaaaaa;
	opacity: 1;
}
.boxes li h3 {
	text-align: center;	
}
ul.boxes{
	margin: auto;
	margin-top: 1em;
	vertical-align: top;

}
.centerMe{
	text-align: center;
	margin: auto;
}

/*Checkbook.html */
section{
	margin: auto;
	width: 100%;
	text-align: center;
}
table{
	margin: auto;
	width: 100%;
}
table tr{
	text-align: left;
	opacity: .85;
}
table tr:hover{
	/*This will make the table sort of jump out and will provide a more responsive user interface*/
	opacity: 1;
}
table tr.alt{
	text-align: left;
	background-color: #aaaaaa;
}
table tr td a{
	text-align: center;
	cursor: pointer;
	opacity: .8;
	width: 100%;
	display: block;
	border-radius: .25em;
	transition: opacity,background-color .5s ease-in-out;
	-moz-transition: opacity,background-color .5s ease-in-out;
    -webkit-transition: opacity,background-color .5s ease-in-out;
}
table tr td a:hover{
	background-color: #aaaaaa;
	opacity: 1;
}
table tr.alt td a:hover{
	background-color: #ffffaf;
	opacity: 1;
}
#header{
	text-align: right;
}
#incomeForm, #expenseForm{
	opacity:0;
	transition: opacity .5s ease-in-out;
	-moz-transition:  opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}
#incomeForm.fade, #expenseForm.fade{
  	opacity:1;
}
.expense{
	color: #FF0000;
}
.income{
	color: #00FF00;
}
#incomeDropForm,#expenseDropForm{
	background-color: #aaaaaa;
	text-align: center;
	cursor: pointer;
	opacity: .8;
	padding: .25em;
	padding-left: .5em;
	padding-right: .5em;
	border-radius: .25em;
	transition: opacity,background-color .5s ease-in-out;
	-moz-transition: opacity,background-color .5s ease-in-out;
    -webkit-transition: opacity,background-color .5s ease-in-out;
}
#incomeDropForm:hover{
	background-color: #aaffaa;
	opacity: 1;	
}
#expenseDropForm:hover{
	background-color: #ffaaaa;
	opacity: 1;
}